@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*
:root {
    --color-primary: #e8b55c;
    --color-secondary: #373737;
    --color-primary-muted: #8d8d8d;
}
*/

:root {
    --color-primary: #ff0098;
    --color-secondary: #ab00ff;
    --color-muted: #000000;
    --color-white: #e1e1e1;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@font-face {
    font-family: ps2;
    src: url("/font/PlanetSide2.ttf");
}

@font-face {
    font-family: ps2-mono;
    src: url("/font/Planetside2-mono.ttf");
}

@font-face {
    font-family: shocs-dumb-font;
    src: url("/font/NFS_by_JLTV.ttf");
}

.sr-player {
    position: absolute;
    font-family: ps2;
    border: 3px solid var(--color-primary);
    border-radius: 6px;
    background-color: var(--color-secondary)
}

.sr-player-header {
    font-size: 52pt;
    color: var(--color-primary);
}

.sr-left-align {
    text-align: start;
}

.sr-right-align {
    text-align: end;
}

.sr-player-table {
    margin-bottom: 0;
    font-size: 24pt;
    color: var(--color-primary) !important;
    width: unset !important;
}

.sr-border {
    border: 3px var(--color-primary) solid;
    border-radius: 6px;
}

.sr-border-bottom {
    border-bottom: 3px var(--color-primary) solid;
}

.sr-vertical-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.sr-background {
    background-color: var(--color-secondary);
}

.sr-background-primary {
    background-color: var(--color-primary);
}

.sr-background-muted {
    background-color: var(--color-muted);
}

.sr-color {
    color: var(--color-primary);
}

.sr-color-muted {
    color: var(--color-primary-muted);
}

.sr-background-muted-light {
    background-color: #888;
}

.sr-color-secondary {
    color: var(--color-secondary);
}

.sr-h1 {
    font-family: ps2;
    font-size: 24pt;
}

.sr-h2 {
    font-family: ps2;
    font-size: 18pt;
}

.sr-h3 {
    font-family: ps2;
    font-size: 14pt;
}

.wt-header {
    background-color: var(--secondary);
    color: var(--light);
    padding: 0.25rem 0.5rem;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
}
