@page "/"

@using watchtower.Services
@using watchtower.Models
@using watchtower.Models.Events
@using watchtower.Constants
@using watchtower.Pages.Components
@using watchtower.Pages.Setup

@inject IMatchManager _Match
@inject IMatchEventBroadcastService _MatchEvents

<div class="container-fluid">

    <Header></Header>

    <div class="row">
        <div class="col-3">
            <RunnerSetup Index="0"></RunnerSetup>
        </div>

        <div class="col-3">
            <RunnerSetup Index="1"></RunnerSetup>
        </div>

        <div class="col-3">
            <h3>Match settings</h3>

            <div class="mb-4">
                Kill goal: 

                <EditForm Model="@_killGoal" OnValidSubmit="SetKillGoal">
                    <div class="input-group">
                        <input type="text" class="form-control" @bind-value="_killGoal" />

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                Update
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
            <div class="mb-4">
                Time goal: 

                <EditForm Model="@_timeGoal" OnValidSubmit="SetTimeGoal">
                    <div class="input-group">
                        <input type="text" class="form-control" @bind-value="_timeGoal" />

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">
                                Update
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>


            <hr />

            <div class="mb-2">
                <MessageLog></MessageLog>
            </div>

            <AdminLog></AdminLog>

        </div>

        <div class="col-3">
            <h2>Match controls</h2>

            <MatchOverview></MatchOverview>

            <hr />

            <MatchControls></MatchControls>
        </div>
    </div>
</div>

@code {

    private MatchState _MatchState = MatchState.UNSTARTED;

    private MatchSettings _MatchSettings = new MatchSettings();

    private string _killGoal = "";

    private string _timeGoal = "";
    protected override void OnInitialized() {
        base.OnInitialized();

        _MatchState = _Match.GetState();
        _MatchSettings = _Match.GetSettings();

        _killGoal = _MatchSettings.KillGoal.ToString();

        _timeGoal = _MatchSettings.TimeGoal.ToString();

        _MatchEvents.OnMatchStateEvent += OnMatchStateEvent;
        _MatchEvents.OnMatchSettingsEvent += OnMatchSettingsEvent;
    }

    private void SetKillGoal() {
        bool valid = Int32.TryParse(_killGoal, out int killGoal);

        if (valid) {
            _MatchSettings.KillGoal = killGoal;
            _Match.SetSettings(_MatchSettings);
        }
    }

    private void SetTimeGoal()
    {
        bool valid = Int32.TryParse(_timeGoal, out int timeGoal);

        if (valid)
        {
            _MatchSettings.TimeGoal = timeGoal;

            _Match.SetSettings(_MatchSettings);
        }
    }

    private void OnMatchStateEvent(object? sender, Ps2EventArgs<MatchState> args) {
        _MatchState = args.Payload;
        InvokeAsync(() => {
            StateHasChanged();
        });
    }

    private void OnMatchSettingsEvent(object? sender, Ps2EventArgs<MatchSettings> args) {
        _MatchSettings = args.Payload;
    }

}
